<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreateClient</servlet-name>
        <servlet-class>controller.CreateClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarLogin</servlet-name>
        <servlet-class>controller.ProcesarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProduct</servlet-name>
        <servlet-class>controller.CreateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloseSession</servlet-name>
        <servlet-class>controller.CloseSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarCarro</servlet-name>
        <servlet-class>controller.ProcesarCarro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateMetodoPago</servlet-name>
        <servlet-class>controller.CreateMetodoPago</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateClient</servlet-name>
        <url-pattern>/create_client.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarLogin</servlet-name>
        <url-pattern>/procesar_login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProduct</servlet-name>
        <url-pattern>/create_product.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloseSession</servlet-name>
        <url-pattern>/close_session.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarCarro</servlet-name>
        <url-pattern>/procesar_carro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateMetodoPago</servlet-name>
        <url-pattern>/create_metodo_pago.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
